*{
  padding: 0px;
  margin: 0px;
}
.flex {
  display: flex;
}
.container{
  /* flex-wrap: wrap; */
  /* border: 2px solid black; */
  justify-content: space-evenly;
}

.card{
  align-items: center;
  
  flex-direction: column;
}

.card img{
  width: 400px;
  height: 200px;
}
.main-div h1 {
  text-align: center;
  margin: 30px;
}

.form{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  padding: 7px;
  width: 400px;
  
}
.form input[type=file] {
  padding: 7px;
  border: 1px solid black;
  width: 400px;
}

.form p {
  margin-top: 10px;
}

.card-div{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1{
  text-align: center;
  
}
.container {
  margin-top: 50px;
}

.btn{
  padding: 8px;
  border-radius: 5px;
  color:white;
  background-color: green;
}
.form-field {
  flex-direction: column;
}

.form-field input{
  padding: 12px;
    border-radius: 5px;
    margin: 6px;
}


form{
  width: 400px;
  margin: auto;
}

.content-div{
  flex-direction: column;
  border: 2px solid black;
  align-items: center;

}
.content-div img {
  width: 200px;
  height: 200px;
}